* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #111111;
}


/* HEADER */

.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;

    border-bottom: 1px solid #eeeeee;

    background: #ffffff;
}

.logo {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -2px;
}


nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #111111;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
}



.hero {
    min-height: 600px;

    display: flex;
    align-items: center;

    padding: 0 2%;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.30),
            rgba(0, 0, 0, 0.30)
        ),
        url("WhatsApp Image 2026-09-07 at 10.39.35.jpeg");
        height: 400px;

    background-size: cover;
    background-position: center;
}

.hero-text {
    color: white;
    max-width: 600px;
}

.small-title {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

.hero h1 {
    font-size: clamp(70px, 12vw, 160px);
    line-height: 0.8;
    font-weight: 900;
    letter-spacing: -8px;
}

.hero-text > p:last-child {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 500;
}


/* GENERAL */

section {
    padding: 110px 8%;
}

.section-name {
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555555;
}

h2 {
    font-size: 55px;
    line-height: 1;
    margin-bottom: 45px;
}


/* HISTORY */

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;

    align-items: center;

    background: #f4f4f4;
}

.history-image {
    height: 550px;
    overflow: hidden;
     width: 90%;
    height: 90%;

}

.history-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-text {
    max-width: 550px;
}

.history-text h2 {
    font-size: 60px;
}

.history-text p:not(.section-name) {
    color: #555555;
    line-height: 1.8;
    font-size: 19px;
    margin-bottom: 18px;
}


/* PRODUCTS */

.products {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-card {
    text-align: left;
}

.product-photo {
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.product-card p {
    color: #777777;
    font-size: 14px;
}


/* GALLERY */

.gallery {
    background: #111111;
    color: white;
}

.gallery .section-name {
    color: #aaaaaa;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}


/* ABOUT */

.about {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.about p:last-child {
    max-width: 700px;
    margin: auto;

    font-size: 18px;
    line-height: 1.8;
    color: #555555;
}


/* FOOTER */

footer {
    background: #111111;
    color: white;

    padding: 60px 8%;

    text-align: center;
}

.footer-logo {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

footer p {
    color: #888888;
    font-size: 13px;
}


/* MOBILE */

@media (max-width: 800px) {

    .header {
        height: auto;
        padding: 25px;
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        min-height: 550px;
        padding: 0 7%;
    }

    .hero h1 {
        letter-spacing: -4px;
    }

    section {
        padding: 70px 7%;
    }

    .history {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .history-image {
        height: 400px;
    }

    h2,
    .history-text h2 {
        font-size: 42px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-photo {
        height: 450px;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-grid img {
        height: 350px;
    }
}